/* These style names are inpsired by the properties from VSCode we originally used */
:root {
  --wp-buttonBackground: #2b3990;
  --wp-buttonBorder: #ffffff;
  --wp-buttonForeground: #ffffff;
  --wp-buttonHoverBackground: #232d73;
  --wp-buttonSecondaryBackground: #2b3990;
  --wp-dropdownBorder: #cecece;
  --wp-dropdownListBackground: #ffffff;
  --wp-editorBackground: #eceeff;
  --wp-editorFontFamily: 'Droid Sans Mono', monospace;
  --wp-editorFontSize: 14px;
  --wp-editorFontWeight: normal;
  --wp-editorHintForeground: #0da0ba;
  --wp-editorInlayHintBackground: rgba(255, 255, 255, 0.1);
  --wp-editorInlayHintForeground: #969696;
  --wp-editorLightBulbForeground: #e0af68;
  --wp-editorLineHighlightBackground: rgba(182, 182, 182, 0.28);
  --wp-editorSelectionBackground: rgba(172, 176, 208, 0.48);
  --wp-editorSelectionForeground: #000000;
  --wp-errorForeground: #ffffff;
  --wp-fontFamily: system-ui, "Ubuntu", "Droid Sans", sans-serif;
  --wp-fontSize: 13px;
  --wp-fontWeight: normal;
  --wp-foreground: #000000;
  --wp-textLinkForeground: #2b3990;
  --wp-inputBackground: #eceeff;
  --wp-inputBorder: #eceeff;
  --wp-inputForeground: #000000;
  --wp-listActiveselectionBackground: #5561a6;
  --wp-listActiveselectionForeground: #ffffff;
  --wp-listDropBackground: #1e202e;
  --wp-listFilterWidgetBackground: #f8f8f8;
  --wp-listHighlightForeground: #668ac4;
  --wp-menuBackground: #eceeff;
  --wp-menuForeground: #000000;
  --wp-menuSelectionBackground: #2b3990;
  --wp-menuSelectionBorder: #101014;
  --wp-menuSelectionForeground: #ffffff;
  --wp-menuSeparatorBackground: #d4d4d4;
  --wp-hintOutline: #acb0d0;
  --wp-notificationsBackground: #2b3990;
  --wp-notificationsForeground: #ffffff;
  --wp-quickInputBackground:#ffffff;
  --wp-quickInputForeground: #787c99;
  --wp-terminalAnsiGreen: #73daca;
  --wp-terminalAnsiRed: #f7768e;
  --wp-terminalAnsiYellow: #e0af68;
  --wp-textCodeBlockBackground: #aab0d3;
  --wp-textSeparatorForeground: #363b54;
}